.container(ng-controller='Movies')
  .jumbotron
    .row
      h1 movies engine
      p.col-md-12
        input.col-md-6(ng-model='query')
      p.col-md-3
        a.btn.btn-primary.btn-lg(ng-click='init()'
        , ng-disabled='!query') Search by author
      p.col-md-4
        input#include-adult(ng-model='include_adult', type='checkbox')
        span &nbsp; Adult Content
  
  .row(ng-hide='authorList.length')
    .well.well-sm.no-results No results to display
  .row(ng-show='authorList.length')
    .col-md-12.box-actions
      .col-md-8
      .col-md-4
        .pull-right
          .btn.btn-default(ng-click='switch_movie_group("cast")'
          , ng-class='{"active": movieGroup == "cast"}' )
            span(ng-bind="'Cast View (' + (movieListAll.cast.length || '0') + ')'")
          .btn.btn-default(ng-click='switch_movie_group("crew")'
          , ng-class='{"active": movieGroup == "crew"}' )
            span(ng-bind="'Crew View (' + (movieListAll.crew.length || '0') + ')'")

    .col-md-4
      .list-group.scrollable-list(ng-class='{"active": authorList.length > 11}')
        a.list-group-item(ng-repeat='person in authorList'
        , ng-class='{"active": person.id == currentPerson.id}'
        , ng-click='select_author(person)')
          span(ng-bind='person.name')

    .col-md-8
      .row-fluid.scrollable-list(ng-class='{"active": movieList.length > 3}')
        .col-md-12(ng-repeat='movie in movieList | orderBy: datetime')
          .panel.panel-success
            .panel-heading
              .row
                h3.col-md-9.panel-title(ng-bind='movie.title')
                h3.col-md-3.panel-title(ng-bind='"Date: " + movie.release_date')
            .panel-body
              .row
                .col-md-3(ng-if='movie.poster_path')
                  image.profile-photo(ng-src='{{configuration.images.base_url + configuration.images.poster_sizes[6] + movie.poster_path}}')
                .col-md-3(ng-if='!movie.poster_path')
                .col-md-9
                  .list-group
                    a.list-group-item(ng-show='movie.department')
                      h4.list-group-item-heading Department
                      p.list-group-item-text(ng-bind='movie.department')
                    a.list-group-item(ng-show='movie.character')
                      h4.list-group-item-heading Character
                      p.list-group-item-text(ng-bind='movie.character')
                    a.list-group-item(ng-show='movie.job')
                      h4.list-group-item-heading Job
                      p.list-group-item-text(ng-bind='movie.job')
                    a.list-group-item
                      h4.list-group-item-heading Original Title
                      p.list-group-item-text(ng-bind='movie.original_title')
        .col-md-12(ng-show='!movieList.length')
          .well.well-sm View has no elements
    .col-md-12.box-actions
      div(ng-show='paginator.length')
        ul.pagination.pagination-sm
          li(ng-repeat='(key,val) in paginator'
          , ng-class='{"active": currentPage == (key+1)}' )
            a(ng-click='change_page(key+1)')
              span(ng-bind='key+1')
